<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to {{ title }}!
</h1>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened> 
    <app-menu (selected) ="selection($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
      <nav mat-tab-nav-bar>
          <a mat-tab-link
             *ngFor="let link of components"
             [routerLink]="link.path"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
             <mat-icon>thumb_up</mat-icon>
            {{link.label}}
          </a>
      </nav>
    <router-outlet></router-outlet>
    <button class="menu" (click)="sidenav.toggle()">Menu</button>
    
  </mat-sidenav-content>
</mat-sidenav-container>