<p>
  core works!
</p>
<div class="main">
    <app-list [items]="items" 
    [listType]="listType" 
    [keys]="keys" 
    (selected)="selection($event)"></app-list>
    <div>
        <nav mat-tab-nav-bar>
            <a mat-tab-link
               *ngFor="let link of lists"
               [routerLink]="link.path"
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive">
               <mat-icon>thumb_up</mat-icon>
              {{link.label}}
            </a>
          </nav>
          <router-outlet></router-outlet>
    </div>
</div>